<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="public_recipes">
    <h1>All Public Recipes for You</h1>
    <div class="all_recipe_container">
      <div class="recipe_container">
        <div class="owner_info">
          <h1>Simple Dish</h1>
          <p>BY: "David"</p>
        </div>
        <div class="recipe_info">
          <p>Total Food Items: 4</p>
          <p>Total Price: $152</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

