<div class="d-flex flex-column mb-2 align-items-center">
  <h1 class="my-3 text-center">Public Recipes</h1>
  <% if @recipes.empty? %>
    <p class="text-center text-warning">No public recipes.</p>
  <% else %>
    <%= render partial: "shared/public_recipe", collection: @recipes.includes([:user]) %>
  <% end %>
</div>