@import "bootstrap";

.all-recipe {
  display: flex;
  justify-content: center;
}

.recipes-details {
  margin-top: 15px;
}

.recipe-cards {
  width: 380px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.recipe-cards .left-info a {
  color: #1014dd;
  text-decoration: none;
}

.recipe-descr {
  justify-content: left;
}

.right-info p {
  flex-wrap: wrap;
  text-align: left;
  padding-top: 8px;
}

.new-recipes {
  border: 2px black solid;
  color: #1014dd;
}